/references
/Computer Science/LaTex
/Philosophy/continent
/diary
*.dat
*.log
*.bcf
*.synctex.gz
*.aux
*.fls
*.out
*.fdb_latexmk
#*.jpg
*.pdf
*.exe
*.toc
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.xdv
*.nav
*.snm
*.run.xml
!Physics-new/*.pdf
!Physics-new/*/*.pdf
!Physics-new/*/*/*.pdf
!Physics-new/*/*.jpg
!Linguistics/Minimalist Program/my.pdf
!Linguistics/Chinese/*/*.pdf
!Linguistics/Chinese/*.pdf
!Linguistics/cartography/*.pdf
!Linguistics/alignment/*.pdf
!Linguistics/English/*.pdf
!Linguistics/Japanese/*.pdf
!Linguistics/Latin/*.pdf
!Anthropology/*/*.pdf
!Linguistics/methodology/*.pdf
!Linguistics/Excercise/*.pdf