/references
/Computer Science/LaTex
/Philosophy/continent
/diary
*.dat
*.log
*.synctex.gz
*.aux
*.fls
*.out
*.fdb_latexmk
*.jpg
*.pdf
*.exe
*.toc
*.bbl
*.blg
!Physics-new/*.pdf
!Physics-new/*/*.pdf
!Physics-new/*/*/*.pdf
!Physics-new/*/*.jpg
!Linguistics/Minimalist Program/my.pdf